@font-face {
    font-family: 'Inter';
    src: local('Inter'),
        url(./Inter-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter'),
        url(./Inter-Medium.woff2) format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter'),
        url(./Inter-Bold.ttf) format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter'),
        url(./Inter-SemiBold.ttf) format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'),
        url(./Poppins-Thin.ttf) format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'),
        url(./Poppins-SemiBold.ttf) format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Karla';
    src: local('Karla'),
        url(./Karla-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Karla';
    src: local('Karla'),
        url(./Karla-Bold.ttf) format('truetype');
    font-weight: 700;
}